<div class="gallery1-gallery3 thq-section-padding">
    <div class="gallery1-max-width thq-section-max-width">
        <div class="gallery1-section-title">
            <h2 class="gallery1-text thq-heading-2">{{ heading1 }}</h2><span class="gallery1-text1 thq-body-large">{{
                content1 }}</span>
        </div>
        <div class="gallery1-content">
            <ng-container *ngFor="let image of images">
                <div class="gallery1-container2 pointer"><img [attr.alt]="image3Alt" [attr.src]="image" (click)="showImage(image)"
                        class="thq-img-ratio-4-3" /></div>
            </ng-container>
        </div>
    </div>
</div>

<div *ngIf="selectedImage" class="image-modal">
    <div class="modal-content">
      <span class="close" (click)="hideImage()">&times;</span>
      <img [src]="selectedImage" alt="Selected Image">
      <div class="navigation">
        <button (click)="prevImage()" [disabled]="currentIndex === 0">Previous</button>
        <button (click)="nextImage()" [disabled]="currentIndex === images.length - 1">Next</button>
      </div>
    </div>
  </div>