<div class="hero3-header9"><img [attr.alt]="image1Alt" [attr.src]="image1Src" class="thq-img-ratio-16-9" />
    <div class="hero3-content thq-section-padding">
        <div class="hero3-max-width thq-section-max-width thq-flex-row">
            <div class="hero3-column">
                <h1 class="thq-heading-1 hero3-text">{{ heading1 }}</h1>
            </div>
            <div class="hero3-column1">
                <p class="thq-body-large hero3-text1">{{ content1 }}</p>
                <div class="hero3-actions"><button class="thq-button-filled hero3-button"><span
                            class="thq-body-small">{{ action1 }}</span></button><button
                        class="thq-button-outline hero3-button1"><span class="thq-body-small">{{ action2
                            }}</span></button></div>
            </div>
        </div>
    </div>
</div>