<div class="home-container">
    <div id="navbar1" class="home-navbar1" id="nav-bar"><app-nav-header></app-nav-header></div>
    <div id="hero2" class="slider" id="slider"><app-slider></app-slider></div>
    <div id="gallery"><app-carousel-slider></app-carousel-slider></div>
    <!-- <div id="logos3" class="gallery" id="gallery"><app-gallery></app-gallery></div> -->
    <div id="hero2" class="home-hero2" id="contact"><app-contact></app-contact></div>
    <div id="gallery4" class="home-gallery4" id="gallery"><app-footer></app-footer></div>
</div>